<div class="container-fluid">
    <section class="container about">
        <h1 class="text-secondary text-center">Mamma Mia Pizzaria</h1>
        <p>
            Bem-vindo à Pizzaria Mamma Mia, onde a tradição italiana se encontra com o
            sabor contemporâneo. Desde a sua inauguração em 1999, nossa pizzaria tem sido
            um ponto de encontro para os amantes da boa comida e da atmosfera acolhedora.
        </p>
        <p>
            Não se trata apenas de comida, mas de uma experiência. Na Pizzaria Mamma Mia,
            cada cliente é recebido como um membro da família. Estamos aqui para celebrar
            os momentos especiais da vida, seja uma reunião casual entre amigos ou uma
            comemoração familiar.
        </p>
        <p>
            Junte-se a nós e descubra por que somos mais do que apenas uma pizzaria -
            somos uma tradição, um destino onde os sabores autênticos da Itália ganham
            vida em cada mordida.
        </p>

        <h2 class="text-secondary text-center">Nossos Valores</h2>

        <div class="row text-center">
            <div class="col-md-4 p-4">
                <img
                    src="../../../assets/images/qualidade.jpg"
                    alt="Ingredientes espalhados em uma mesa"
                    class="img-fluid p-5 blob1"
                />
                <h3>Qualidade Superior</h3>
                <p>
                    Na Pizzaria Mamma Mia, buscamos a excelência em cada fatia. Utilizamos
                    os melhores ingredientes e técnicas para garantir sabores autênticos.
                </p>
            </div>
            <div class="col-md-4 p-4">
                <img
                    src="../../../assets/images/atendimento.jpg"
                    alt="Garçom servindo dois pratos"
                    class="img-fluid p-5 blob2"
                />
                <h3>Serviço Excepcional</h3>
                <p>
                    Nossa equipe está aqui para tornar sua experiência memorável. Desde a
                    entrada até a última mordida, oferecemos serviço caloroso e atencioso.
                </p>
            </div>
            <div class="col-md-4 p-4">
                <img
                    src="../../../assets/images/inovacao.jpg"
                    alt="Mesa montada com pratos, copos e talheres"
                    class="img-fluid p-5 blob3"
                />
                <h3>Inovação Criativa</h3>
                <p>
                    Buscamos constantemente surpreender nossos clientes. Nossa equipe de
                    chefs está sempre criando novos sabores para você desfrutar.
                </p>
            </div>
        </div>
    </section>
</div>
