<div class="container-fluid">
    <section class="container about pb-5">
        <h1 class="text-secondary text-center">Entrar na Fila Virtual</h1>
        <form class="row g-3">
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" placeholder="Nome">
                    <label for="name">Nome</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" placeholder="E-mail">
                    <label for="email">E-mail</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="phone" placeholder="Telefone">
                    <label for="phone">Telefone</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="peopleNumber" placeholder="Quantidade de Pessoas">
                    <label for="peopleNumber">Quantidade de Pessoas</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <select class="form-select" id="time" aria-label="Seleção de horário da reserva">
                        <option value="none" selected>Nenhuma</option>
                        <option value="pcd">Pessoa com Deficiência</option>
                        <option value="idoso">Pessoa Idosa</option>
                    </select>
                    <label for="time">Prioridade</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="message" style="height: 100px" placeholder="Mensagem"></textarea>
                    <label for="message">Observações</label>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-secondary fs-5">Enviar</button>
            </div>
        </form>   
    </section>
</div>