@import "../../../../styles/theme";

.card-menu-item {
    width: 300px;
    max-width: 70vw;
    margin: .8em;
    cursor: pointer;

    .image-container {
        background: transparent;
        text-align: center;
        position: relative;

        img {
            width: 60%;
            position: relative;
            z-index: 2;
        }

        .half-background {
            background: #18191C;
            width: 100%;
            height: 60%;
            border-radius: 2em 2em 0 0;
            position: absolute;
            bottom: 0;
            z-index: 1;
        }
    }

    .card-content {
        padding: 1.5em;
        border-radius: 0 0 2em 2em;
        background: #18191C;

        h3 {
            font-size: 1.5em;
        }

        .price {
            font-size: 1.4em;
            color: $tertiary;
            font-weight: 100;
        }
    }

    &:hover {
        .image-container .half-background, .card-content {
            background: $secondary;
        }
    }
}

