<div class="modal fade" id="modalItemDetail" tabindex="-1" aria-labelledby="modalItemDetail" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable fs-5">
        <div class="card-menu-item text-light text-center">
            <div class="image-container">
                <img src="../../../../assets/images/pizza-menu-item.png" alt="Imagem de uma pizza">
                <div class="half-background"></div>
            </div>
            <div class="card-content">
                <h3>Nome do Produto</h3>
                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni facere nemo dicta molestias culpa modi, enim perferendis maiores tenetur velit cupiditate necessitatibus quis maxime quae fugiat. Quidem, voluptate. Blanditiis, beatae!</p>
                <p class="price">R$ 50,00</p>
            </div>
        </div>
    </div>
</div>