<div class="modal fade" id="modalItemDetail" tabindex="-1" aria-labelledby="modalItemDetail" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable fs-5">
        <div class="card-menu-item text-light text-center">
            <div class="image-container">
                <img src="{{ item.image }}" alt="{{ item.imageDescription }}">
                <div class="half-background"></div>
            </div>
            <div class="card-content">
                <h3>{{ item.name }}</h3>
                <p class="description">{{ item.description }}</p>
                <p class="price">{{ item.price | currency }}</p>
            </div>
        </div>
    </div>
</div>