<div class="container-fluid">
    <section class="container about pb-5">
        <h1 class="text-secondary text-center">Fila Virtual</h1>
        <p>Para sua conveniência, utilize nossa fila virtual e economize tempo esperando por uma mesa. Basta se cadastrar e acompanhar sua posição na fila em tempo real, tudo diretamente pelo seu celular.</p>
        <p>Quando sua vez chegar, você terá 15 minutos para se apresentar. Após esse tempo, sua mesa será liberada. Utilize essa facilidade e tenha uma experiência mais agradável em nossa pizzaria!</p>
    </section>

    <section class="container check-waiting-time pb-5">
        <h2 class="text-secondary text-center">Consultar Tempo de Espera</h2>
        <form class="row g-3" [formGroup]="checkWaitingTimeForm" (ngSubmit)="onSubmit()">
            <div class="col-md-12">
                <div class="form-floating mb-3">
                    <input 
                        type="number"
                        class="form-control"
                        id="peopleNumber"
                        placeholder="Quantidade de Pessoas"
                        formControlName="peopleNumber"
                        min="1"
                        max="20"
                        [ngClass]="{ 'is-invalid': f['peopleNumber'].errors && f['peopleNumber'].touched }"
                    >
                    <label for="peopleNumber">Quantidade de Pessoas</label>
                    @if (f["peopleNumber"].errors && f["peopleNumber"].touched) {
                        <div class="invalid-feedback">
                            @if (f["peopleNumber"].errors["required"]) {
                                <div>O número de pessoas é obrigatório</div>
                            }
                            @if (f["peopleNumber"].errors["invalidRange"]) {
                                <div>O número de pessoas deve ser um número entre 1 e 20</div>
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-floating mb-3">
                    <select class="form-select" id="priority" aria-label="Seleção de horário da reserva">
                        <option value="none" selected>Nenhuma</option>
                        <option value="pcd">Pessoa com Deficiência</option>
                        <option value="idoso">Pessoa Idosa</option>
                    </select>
                    <label for="priority">Prioridade</label>
                    @if (f["priority"].errors && f["priority"].touched) {
                        <div class="invalid-feedback">
                            @if (f["priority"].errors["required"]) {
                                <div>A prioridade é obrigatória</div>
                            }
                            @if (f["priority"].errors["pattern"]) {
                                <div>A prioridade deve ser uma dos disponíveis</div>
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-secondary fs-5">Consultar</button>
            </div>
        </form>   
    </section>

    <section *ngIf="showWaitingTime" class="container check-waiting-time pb-5">
        <app-waiting-time [showCallToAction]="true"></app-waiting-time>
    </section>
</div>