<footer class="container-fluid bg-secondary">
    <div class="container d-flex flex-column-reverse flex-lg-row py-5">
        <div class="col-12 col-lg-6">
            <ul class="fs-5">
                <li class="py-3">
                    <span aria-label="Nosso endereço">
                        <span class="bi bi-geo-alt fs-4 rounded-circle"></span>
                        Av. da Pizza, 123 - Bairro dos Sabores
                    </span>
                </li>
                <li class="py-3">
                    <span aria-label="Nosso telefone">
                        <span class="bi bi-telephone fs-4 rounded-circle"></span>
                        (99) 9999-9999
                    </span>
                </li>
                <li class="py-3">
                    <span aria-label="Nosso whatsapp">
                        <span class="bi bi-whatsapp fs-4 rounded-circle"></span>
                        (99) 99999-9999
                    </span>
                </li>
                <li class="py-3">
                    <span aria-label="Nosso telefone">
                        <span class="bi bi-envelope fs-4 rounded-circle"></span>
                        contato&#64;mammamia.com
                    </span>
                </li>
            </ul>
        </div>
        <hr>
        <div class="col-12 col-lg-6">
            <h3 class="fs-2 fw-bold py-3">Mamma Mia Pizzaria</h3>
            <p>A Pizzaria Mamma Mia é conhecida por sua deliciosa pizza artesanal, preparada com os melhores ingredientes frescos e assada com perfeição em nosso forno a lenha. Desde 1999, temos o prazer de servir nossos clientes com os sabores autênticos em um ambiente acolhedor e familiar.</p>
            <div class="py-3">
                <a href="#" aria-label="Link do nosso Instagram">
                    <span class="bi bi-instagram fs-4 rounded-circle"></span>
                </a>
                <a href="#" aria-label="Link do nosso Facebook">
                    <span class="bi bi-facebook fs-4 rounded-circle"></span>
                </a>
                <a href="#" aria-label="Link do nosso Linkedin">
                    <span class="bi bi-linkedin fs-4 rounded-circle"></span>
                </a>
            </div>
        </div>
    </div>
</footer>
