footer {
    border-radius: 5em 5em 0 0;
    color: #fbfbfb;

    ul {
        padding: 0;
        
        li {
            background-color: transparent;
            list-style: none;
        }
    }

    p {
        font-size: 1.1em;
    }

    a, span {
        text-decoration: none;
        color: #fbfbfb;
        font-size: 1em;
        cursor: pointer;

        .bi {
            background: #BF3617;
            padding: .45em;
            margin-right: .6em;
        }

        &:hover .bi {
            background: #222326;
        }
    }
    
}

@media (max-width: 576px) {
    footer {
        border-radius: 2em 2em 0 0;

        a, span {
            font-size: .8em;
        }

        .bi {
            margin-right: .1em;
        }
    }
}