@import "../../../styles/theme";

footer {
    border-radius: 5em 5em 0 0;
    color: $light;

    ul {
        padding: 0;

        li {
            background-color: transparent;
            list-style: none;
        }
    }

    p {
        font-size: 1.1em;
    }

    a,
    span {
        text-decoration: none;
        color: $light;
        font-size: 1em;
        cursor: pointer;

        .bi {
            background: $quaternary;
            padding: 0.45em;
            margin-right: 0.6em;
        }

        &:hover .bi {
            background: $primary;
        }
    }
}

@media (max-width: 576px) {
    footer {
        border-radius: 2em 2em 0 0;

        a,
        span {
            font-size: 0.8em;
        }

        .bi {
            margin-right: 0.1em;
        }
    }
}
