<footer class="container-fluid bg-secondary">
    <div class="container d-flex flex-column-reverse flex-lg-row py-5">
        <div class="col-12 col-lg-6">
            <ul class="fs-5">
                <li class="py-3">
                    <a href="#">
                        <span class="bi bi-geo-alt fs-4 rounded-circle"></span>
                        Lorem ipsum dolor sit, 123 - Amet, Consectetur
                    </a>
                </li>
                <li class="py-3">
                    <a href="#">
                        <span class="bi bi-telephone fs-4 rounded-circle"></span>
                        (99) 9999-9999
                    </a>
                </li>
                <li class="py-3">
                    <a href="#">
                        <span class="bi bi-whatsapp fs-4 rounded-circle"></span>
                        (99) 99999-9999
                    </a>
                </li>
                <li class="py-3">
                    <a href="#">
                        <span class="bi bi-envelope fs-4 rounded-circle"></span>
                        email&#64;email.com
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-lg-6">
            <h3 class="fs-2 fw-bold py-3">Mamma Mia Pizzaria</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum dolores ratione nostrum quae perspiciatis harum fuga, neque iste aperiam sint iure provident aspernatur consequuntur dicta temporibus cumque minima enim impedit.</p>
            <div class="py-3">
                <a href="#">
                    <span class="bi bi-instagram fs-4 rounded-circle"></span>
                </a>
                <a href="#">
                    <span class="bi bi-facebook fs-4 rounded-circle"></span>
                </a>
                <a href="#">
                    <span class="bi bi-linkedin fs-4 rounded-circle"></span>
                </a>
            </div>
        </div>
    </div>
</footer>
