@import "../../../styles/theme";

header {
    position: relative;
    height: 95vh;
    overflow: hidden;
    background: linear-gradient(0deg, rgba(34,35,38,.2) 0%, rgba(34,35,38,1) 85%);

    .video-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .logo {
        img {
            width: 120px;
        }

        .title {
            font-family: "My Soul", cursive;
        }

        .subtitle {
            letter-spacing: .6em;
        }
    }

    .navbar-toggler {
        border: none;

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(251, 251, 251)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
        }
    }

    ul {
        li {
            font-size: 1.2em;

            a:hover, .active {
                border-bottom: 1px solid $light;
            }
        }
    }

    @media (max-width: 1200px) {
        ul {
            li {
                font-size: 1em;
            }
        }
    }
}

.offcanvas {
    .btn-close {
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='rgb(251, 251, 251)'><path d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/></svg>") !important;
    }

    a {
        filter: brightness(.8);
    }

    .active {
        filter: brightness(1);
    }
}