<div class="container-fluid menu bg-primary text-center text-light py-5">
    <div class="container">
        <h1>Cardápio</h1>
        <section>
            <img class="line" src="../../../assets/images/decorative-line.png" alt="">
            <h2>Pizzas</h2>
            <div class="menu-items">
                <app-menu-item-card></app-menu-item-card>
                <app-menu-item-card></app-menu-item-card>
                <app-menu-item-card></app-menu-item-card>
                <app-menu-item-card></app-menu-item-card>
                <app-menu-item-card></app-menu-item-card>
                <app-menu-item-card></app-menu-item-card>
                <app-menu-item-card></app-menu-item-card>
                <app-menu-item-card></app-menu-item-card>
                <app-menu-item-card></app-menu-item-card>
            </div>
        </section>
        <section>
            <img class="line" src="../../../assets/images/decorative-line.png" alt="">
            <h2>Massas</h2>
            <div class="menu-items">
                <app-menu-item-card></app-menu-item-card>
                <app-menu-item-card></app-menu-item-card>
                <app-menu-item-card></app-menu-item-card>
                <app-menu-item-card></app-menu-item-card>
            </div>
        </section>
        <section>
            <img class="line" src="../../../assets/images/decorative-line.png" alt="">
            <h2>Entradas</h2>
            <div class="menu-items">
                <app-menu-item-card></app-menu-item-card>
                <app-menu-item-card></app-menu-item-card>
                <app-menu-item-card></app-menu-item-card>
            </div>
        </section>
        <section>
            <img class="line" src="../../../assets/images/decorative-line.png" alt="">
            <h2>Sobremesas</h2>
            <div class="menu-items">
                <app-menu-item-card></app-menu-item-card>
                <app-menu-item-card></app-menu-item-card>
                <app-menu-item-card></app-menu-item-card>
                <app-menu-item-card></app-menu-item-card>
                <app-menu-item-card></app-menu-item-card>
            </div>
        </section>
        <section>
            <img class="line" src="../../../assets/images/decorative-line.png" alt="">
            <h2>Bebidas</h2>
            <div class="menu-items">
                <app-menu-item-card></app-menu-item-card>
                <app-menu-item-card></app-menu-item-card>
                <app-menu-item-card></app-menu-item-card>
                <app-menu-item-card></app-menu-item-card>                
                <app-menu-item-card></app-menu-item-card>
                <app-menu-item-card></app-menu-item-card>
                <app-menu-item-card></app-menu-item-card>
            </div>
        </section>
    </div>
</div>

<div class="footer-background container-fluid"></div>