@import "./theme";

* {
    font-family: "Questrial", sans-serif;
}

::selection {
    background-color: $secondary;
    color: #fbfbfb;
}

::-moz-selection {
    background-color: $secondary;
    color: #fbfbfb;
}

@import "../../node_modules/bootstrap/scss/bootstrap";
