$primary: #222326;
$secondary: #8C0712;
$tertiar: #3E5902;
$quaternary: #F2A74B;
$quinary: #BF3617;
$dark: #111111;
$light: #fbfbfb;

* {
    font-family: "Questrial", sans-serif;
}

::selection {
    background-color: #8C0712;
    color: #fbfbfb;
}

::-moz-selection {
    background-color: #8C0712;
    color: #fbfbfb;
}


@import "../../node_modules/bootstrap/scss/bootstrap";
