<div class="container-fluid">
    <section class="container reservation pb-5" *ngIf="!isEditing">
        <h1 class="text-secondary text-center">Minha Reserva</h1>
        <div class="table-responsive">
            <table class="table fs-5">
                <tbody>
                    <tr>
                        <th scope="row">Nome:</th>
                        <td>{{ reservation?.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">E-mail:</th>
                        <td>{{ reservation?.email }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Telefone:</th>
                        <td>{{ reservation?.phone }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Data:</th>
                        <td>{{ reservation?.date }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Horário:</th>
                        <td>{{ reservation?.time }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Quantidade de Pessoas:</th>
                        <td>{{ reservation?.peopleNumber }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Observações:</th>
                        <td>{{ reservation?.description }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 mt-3">
            <button
                type="submit"
                class="btn btn-secondary fs-5 me-3 mb-1"
                (click)="toggleEdit()"
            >
                Editar
            </button>
            <button
                type="submit"
                class="btn btn-primary fs-5"
                data-bs-toggle="modal"
                data-bs-target="#modalReservationCancel"
            >
                Cancelar Reserva
            </button>
        </div>
    </section>

    <section class="container reservation pb-5" *ngIf="isEditing">
        <h1 class="text-secondary text-center">Editar Reserva</h1>
        <app-reservation-form
            [reservation]="reservation"
            (onSubmit)="updateHandler($event)"
        ></app-reservation-form>
    </section>
</div>

<div
    class="modal fade"
    id="modalReservationCancel"
    tabindex="-1"
    aria-labelledby="modalReservationCancel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable fs-5">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">Cancelar Reserva</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Fechar"
                ></button>
            </div>
            <div class="modal-body">
                <p>
                    Tem certeza de que deseja cancelar sua reserva? Esta ação não pode ser
                    desfeita.
                </p>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary fs-5"
                    data-bs-dismiss="modal"
                    (click)="deleteHandler()"
                >
                    Confirmar Cancelamento
                </button>
                <button
                    type="button"
                    class="btn btn-primary fs-5"
                    data-bs-dismiss="modal"
                >
                    Fechar
                </button>
            </div>
        </div>
    </div>
</div>
