<div class="container-fluid">
    <section class="container reservation" *ngIf="!isEditing">
        <h1 class="text-secondary text-center">Minha Reserva</h1>
        <table class="table fs-5">
            <tbody>
                <tr>
                    <th scope="row">Nome:</th>
                    <td>Lorem Impsum</td>
                </tr>
                <tr>
                    <th scope="row">E-mail:</th>
                    <td>loremimpsum&#64;gmail.com</td>
                </tr>
                <tr>
                    <th scope="row">Telefone:</th>
                    <td>(15) 99999-9999</td>
                </tr>
                <tr>
                    <th scope="row">E-mail:</th>
                    <td>loremimpsum&#64;gmail.com</td>
                </tr>
                <tr>
                    <th scope="row">Data:</th>
                    <td>07/06/2024</td>
                </tr>
                <tr>
                    <th scope="row">Horário:</th>
                    <td>22:00</td>
                </tr>
                <tr>
                    <th scope="row">Quantidade de Pessoas:</th>
                    <td>5</td>
                </tr>
                <tr>
                    <th scope="row">Observações:</th>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, debitis consequuntur voluptas soluta, eum omnis impedit adipisci incidunt nulla esse expedita, iure ex voluptatibus quisquam in nobis pariatur tempore animi.</td>
                </tr>
                <tr>
            </tbody>
        </table>
        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-secondary fs-5 me-3" (click)="toggleEdit()">Editar</button>
            <button type="submit" class="btn btn-primary fs-5"  data-bs-toggle="modal" data-bs-target="#modalReservationCancel">Cancelar Reserva</button>
        </div>
    </section>

    <section class="container reservation" *ngIf="isEditing">
        <h1 class="text-secondary text-center">Editar Reserva</h1>
        <app-reservation-form></app-reservation-form>
    </section>

</div>

<div class="modal fade" id="modalReservationCancel" tabindex="-1" aria-labelledby="modalReservationCancel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable fs-5">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title fw-bold">Cancelar Reserva</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <p>Tem certeza de que deseja cancelar sua reserva? Esta ação não pode ser desfeita.</p>
            </div>
            <div class="modal-footer"> 
                <button type="button" class="btn btn-secondary fs-5">Confirmar Cancelamento</button>
                <button type="button" class="btn btn-primary fs-5" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
