<div class="container-fluid">
    <section class="container about">
        <h1 class="text-secondary text-center">Mamma Mia Pizzaria</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius accusantium explicabo fugiat saepe, iure ea neque illo atque corrupti et dolor voluptatibus soluta iusto aliquid est possimus totam ullam hic.</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab qui aliquid praesentium porro aut, magni natus facere laboriosam doloribus. Alias laudantium doloribus aliquid soluta eveniet enim! Sed ab ad sapiente. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit laudantium facilis quidem consequuntur, ea quo nostrum non quam quas, maxime provident a corporis repudiandae sapiente expedita accusamus saepe officia.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus eveniet sapiente architecto porro, optio neque, aliquam suscipit aspernatur libero vel sequi dolore voluptatem, voluptatum repellat atque corrupti quo quibusdam aperiam!</p>
    
        <h2 class="text-secondary text-center">Nossos Valores</h2>

        <div class="row text-center">
            <div class="col-md-4 p-4">
                <img src="../../../assets/images/pizza.jpg" alt="Imagem 3" class="img-fluid p-5 blob1">
                <h3>Valor 1</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam ratione optio, eaque alias, quam numquam voluptatibus earum totam.</p>
            </div>
            <div class="col-md-4 p-4">
                <img src="../../../assets/images/pizza.jpg" alt="Imagem 3" class="img-fluid p-5 blob2">
                <h3>Valor 2</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam ratione optio, eaque alias, quam numquam voluptatibus earum totam maxime recusandae animi.</p>
            </div>
            <div class="col-md-4 p-4">
                <img src="../../../assets/images/pizza.jpg" alt="Imagem 3" class="img-fluid p-5 blob3">
                <h3>Valor 3</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam ratione optio, eaque alias, quam numquam voluptati.</p>
            </div>
        </div>
    </section>
</div>
<div class="container-fluid divider"></div>
<div class="container-fluid">
    <section class="container menu">
        <h2 class="text-secondary m-0">Lorem Inpsum dolor</h2>
        <a class="btn bg-secondary text-light fw-bold rounded-pill px-4 py-2" href="#">VER CARDÁPIO</a>
        <div class="slider text-light">
            <span class="prev" (click)="prevSlide()">
                <i class="bi bi-chevron-left"></i>
            </span>
            <span class="next" (click)="nextSlide()">
                <i class="bi bi-chevron-right"></i>
            </span>
            <div *ngFor="let item of visibleItems()" class="slider-item">
                <span>{{ item }}</span>
            </div>
        </div>
    </section>
</div>
<section class="container-fluid reservation text-light text-center py-5">
    <span class="bi-calendar-check"></span>
    <h2>Lorem impsum dolor</h2>
    <a class="btn text-light fw-bold rounded-pill px-4 py-2" href="#">FAÇA SUA RESERVA</a>
</section>