<div class="container-fluid">
    <section class="container about">
        <h1 class="text-secondary text-center">Mamma Mia Pizzaria</h1>
        <p>Bem-vindo à Pizzaria Mamma Mia, onde a tradição italiana se encontra com o sabor contemporâneo. Desde a sua inauguração em 1999, nossa pizzaria tem sido um ponto de encontro para os amantes da boa comida e da atmosfera acolhedora.</p>
        <p>Não se trata apenas de comida, mas de uma experiência. Na Pizzaria Mamma Mia, cada cliente é recebido como um membro da família. Estamos aqui para celebrar os momentos especiais da vida, seja uma reunião casual entre amigos ou uma comemoração familiar.</p>
        <p>Junte-se a nós e descubra por que somos mais do que apenas uma pizzaria - somos uma tradição, um destino onde os sabores autênticos da Itália ganham vida em cada mordida.</p>

        <h2 class="text-secondary text-center">Nossos Valores</h2>

        <div class="row text-center">
            <div class="col-md-4 p-4">
                <img src="../../../assets/images/qualidade.jpg" alt="Imagem 3" class="img-fluid p-5 blob1">
                <h3>Qualidade Superior</h3>
                <p>Na Pizzaria Mamma Mia, buscamos a excelência em cada fatia. Utilizamos os melhores ingredientes e técnicas para garantir sabores autênticos.</p>
            </div>
            <div class="col-md-4 p-4">
                <img src="../../../assets/images/atendimento.jpg" alt="Imagem 3" class="img-fluid p-5 blob2">
                <h3>Serviço Excepcional</h3>
                <p>Nossa equipe está aqui para tornar sua experiência memorável. Desde a entrada até a última mordida, oferecemos serviço caloroso e atencioso.</p>
            </div>
            <div class="col-md-4 p-4">
                <img src="../../../assets/images/inovacao.jpg" alt="Imagem 3" class="img-fluid p-5 blob3">
                <h3>Inovação Criativa</h3>
                <p>Buscamos constantemente surpreender nossos clientes. Nossa equipe de chefs está sempre criando novos sabores para você desfrutar.</p>
            </div>
        </div>
    </section>
</div>
<div class="container-fluid divider"></div>
<div class="container-fluid">
    <section class="container menu">
        <h2 class="text-secondary m-0">Explore nossas delícias...</h2>
        <a class="btn bg-secondary text-light fw-bold rounded-pill px-4 py-2" href="#">VER CARDÁPIO</a>
        <div class="slider text-light">
            <span class="prev" (click)="prevSlide()">
                <i class="bi bi-chevron-left"></i>
            </span>
            <span class="next" (click)="nextSlide()">
                <i class="bi bi-chevron-right"></i>
            </span>
            <div *ngFor="let item of visibleItems()" class="slider-item"  [style.background]="'url(' + item.image + ')'">
                <div class="filter">
                    <span>{{ item.name }}</span>
                </div>
            </div>
        </div>
    </section>
</div>
<section class="container-fluid reservation text-light text-center py-5">
    <span class="bi bi-calendar-check"></span>
    <h2>Aguardamos sua visita!</h2>
    <a class="btn text-light fw-bold rounded-pill px-4 py-2" href="#">FAÇA SUA RESERVA</a>
</section>
<div class="container-fluid">
    <section class="container contact">
        <h2 class="text-secondary">Fale Conosco</h2>
        <form class="row g-3">
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" placeholder="Nome">
                    <label for="name">Nome</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="phone" placeholder="Telefone">
                    <label for="phone">Telefone</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option selected>Selecionar</option>
                        <option value="1">Evento</option>
                        <option value="2">Dúvida</option>
                        <option value="3">Sugestão</option>
                        <option value="4">Trabalhe Conosco</option>
                        <option value="5">Outro</option>
                    </select>
                    <label for="floatingSelect">Assunto</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="message" style="height: 100px" placeholder="Mensagem"></textarea>
                    <label for="message">Mensagem</label>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-secondary fs-5">Enviar</button>
            </div>
        </form>        
    </section>
</div>