h1, h2 {
    font-size: 3em;
    font-weight: bold;
    margin: 1.8em 0 .6em 0;
}

h3 {
    font-size: 1.8em;
    font-weight: bold;
}

p {
    font-size: 1.3em;
}


.divider {
    height: 65vh;
    background: url("../../../assets/images/divider.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
