
h1, h2 {
    font-size: 3em;
    font-weight: bold;
    margin: 1.8em 0 .6em 0;
}

p {
    font-size: 1.3em;
}

.about {
    & > p {
        text-indent: 2em;
    }
    .square-image-container {
        width: 100%;
        overflow: hidden;
    }
    
    .square-image-container img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .blob1 {
        border-radius: 50% 40% 50% 60% / 60% 50% 40% 50% !important;
    }
    
    .blob2 {
        border-radius: 40% 50% 60% 50% / 50% 60% 50% 40% !important;
    }
    
    .blob3 {
        border-radius: 50% 40% 50% 60% / 60% 50% 40% 50% !important;
    }
}

.divider {
    height: 65vh;
    background: url("../../../assets/images/divider.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.menu {
    .slider {
        display: flex;
        justify-content: space-between;
        position: relative;

        .slider-item {
            background: url("../../../assets/images/pizza.jpg");
            background-position: center;
            background-size: cover;
            height: 450px;
            width: 30%;
            border-radius: 45px;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-family: "My Soul", cursive;
                font-size: 2.2em;
                display: none;
            }

            &:hover {
                background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url("../../../assets/images/pizza.jpg");
                background-position: center;
                background-size: cover;

                span {
                    display: block;
                }
            }
        }

        .prev, .next {
            font-size: 1.5em;
            position: absolute;
            height: 450px;
            display: flex;
            align-items: center;
            padding: 0 10px;
            &:hover {
                background: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6));
            }
        }

        .prev {
            left: 0;
            border-radius: 45px 0 0 45px;
        }

        .next {
            right: 0;
            border-radius: 0 45px 45px 0;
        }
    }
}

@media (max-width: 992px) {
    .menu .slider .slider-item {
        width: 48%;
    }
}

@media (max-width: 768px) {
    .menu .slider .slider-item {
        width: 100%;
    }
}