<div class="container-fluid">
    <section class="container contact">
        <h2 class="text-secondary">Fale Conosco</h2>
        <form class="row g-3">
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="name" placeholder="Nome">
                    <label for="name">Nome</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" placeholder="Email">
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="phone" placeholder="Telefone">
                    <label for="phone">Telefone</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <select class="form-select" id="subject" aria-label="Seleção de assunto da mensagem">
                        <option selected>Selecionar</option>
                        <option value="1">Evento</option>
                        <option value="2">Dúvida</option>
                        <option value="3">Sugestão</option>
                        <option value="4">Trabalhe Conosco</option>
                        <option value="5">Outro</option>
                    </select>
                    <label for="subject">Assunto</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="message" style="height: 100px" placeholder="Mensagem"></textarea>
                    <label for="message">Mensagem</label>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-secondary fs-5">Enviar</button>
            </div>
        </form>        
    </section>
</div>
